.layoutContainer {
  height: auto;
  width: auto;
  pointer-events: auto;
  color: rgb(237, 237, 237);
  background-color: rgb(255, 255, 255);
  font:
    400 16px/24px Arial,
    Helvetica,
    sans-serif;
}

.hiddenElement {
  display: none;
  height: auto;
  width: auto;
  pointer-events: auto;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border: 1px solid rgba(235, 235, 235, 1);
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border: 1px solid rgba(235, 235, 235, 1);
  width: 100%;
  align-self: stretch;
  flex-grow: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.imageColumnsWrapper {
  height: auto;
  width: auto;
  pointer-events: auto;
}

.imageColumnsContainer {
  display: flex;
  height: auto;
  width: auto;
  pointer-events: auto;
}

.imageSection {
  display: flex;
  height: auto;
  pointer-events: auto;
}

.imageContentWrapper {
  display: flex;
  height: auto;
  pointer-events: auto;
}

.columnLeft {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .columnLeft {
    width: 100%;
    margin-left: 0;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 17px;
  margin-top: 20px;
  width: 100%;
  min-height: 400px;
  min-width: 20px;
  overflow: hidden;
  padding-top: 20px;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.columnText {
  background-color: rgba(206, 82, 82, 0);
  color: rgb(179, 47, 47);
}

.columnRight {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .columnRight {
    width: 100%;
    margin-left: 0;
  }
}

.columnImage {
  aspect-ratio: 1.42;
  object-fit: cover;
  object-position: center;
  width: 100%;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
}

.builderContentWrapper {
  height: auto;
  width: auto;
  pointer-events: auto;
}

.builderModelContainer {
  height: auto;
  width: auto;
  pointer-events: auto;
}

.builderPlaceholder {
  height: auto;
  width: auto;
  pointer-events: auto;
}
